.carousel-item img {
    width: 100%;
    max-height: 100%;
}

header {
    display: none;
}

.links {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    margin-top: 15px;
}

.links a {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    height: 60px;
    color: #555;
    text-decoration: none;
    font-size: 200%;
}

/* Smaller devices */
    @media (max-width: 800px) {
        header {
            display: inline-block;
            background-color: #555;
            color: #bbb;
            text-align: center;
            padding: 10px 0;
            font-family: 'Pacifico', cursive;
        }
    }